html,
body {
    overflow-wrap: break-word;
    scroll-behavior: smooth;
}

body {
    color: var(--text-color);
    height: 100%;
    font-family: Mulish,-apple-system,"PingFang SC","Microsoft YaHei",sans-serif;
    a {
        color: var(--text-color);
        text-decoration: none;
        cursor: pointer;
        transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    }
}

#app {
    background: linear-gradient(to top, var(--body-bg-shadow) 0, var(--grey-1) 20%) no-repeat bottom;
}

::-webkit-scrollbar{
    width: .3125rem;
    height: .3125rem;
}

::-webkit-scrollbar-thumb{
    border-radius: 1.25rem;
    background-clip: padding-box;
    background-color: var(--grey-8);
}

::-webkit-scrollbar-track-piece{
    color: var(--grey-0);
}

@font-face {
    font-family: "FZSJSJW";
    src: url('../source/font/FZSJSJW.TTF');
    font-weight: normal;
    font-style: normal;
}