@keyframes scroll-down{
    0% {
        opacity: 0.8;
        top: 0;
    }
    50% {
        opacity: 0.4;
        top: -1rem;
    }
    100% {
        opacity: 0.8;
        top: 0;
    }
}

@keyframes blink{
    0%{
      opacity: 1
    }
    50%{
      opacity: 0
    }
    100%{
      opacity: 1
    }
}